@if (stations$ | async) {
  <div class="container mx-auto flex flex-col gap-[24px] md:px-4 py-[48px] h-full">
    <app-map-controls class="rounded-2xl md:col-span-2"></app-map-controls>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-[24px] flex-grow">
      <section class="rounded-2xl shadow-md p-[24px] bg-white"></section>

      <app-map class="rounded-2xl shadow-md bg-white"></app-map>

      <section class="rounded-2xl shadow-md p-2 md:col-span-2 p-[24px] bg-white"></section>
    </div>
  </div>
}
