:host {
  display: block;
  animation: fadeInScale 0.6s ease-out;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  image-rendering: -webkit-optimize-contrast;
  user-select: none;
}
