
$white:       #FFFFFF;
$dark-grey:   #222C37;
$grey:        #788298;
$grey-2:      #2E3E4B;
$grey-3:      #26323D;
$grey-4:      #161A23;
$light-grey:  #999999;
$blue:        #0478FA;
$green:       #31aa26;
$light-green: #6CFF9E;
$red:         #FA504E;

// Add colors on the list to create automatically background color an text colors
// Classes will be created as 'bg-dark-gey' and 'text-dark-grey' for example.
$colors-list:
  $white 'white',
  $grey 'grey',
  $grey-2 'grey-2',
  $grey-3 'grey-3',
  $grey-4 'grey-4',
  $dark-grey 'dark-grey',
  $light-grey 'light-grey',
  $blue 'blue',
  $green 'green',
  $light-green 'light-green',
  $red 'red';
