<div
  class="error-card-container relative overflow-hidden p-8 bg-gray-800 rounded-lg shadow-md text-center border border-red-600/30"
>
  <div class="error-icon w-[80px] h-[80px] flex items-center justify-center">
    <span class="text-4xl">❌</span>
  </div>

  <div class="mb-8">
    <h2 class="text-2xl font-bold text-gray-50 mb-3">Oops! Something went wrong</h2>
    <p class="text-[15px] text-gray-300 leading-relaxed">{{ errorMessage() }}</p>
  </div>

  @if (tryAgainFunction()) {
    <button
      (click)="tryAgainFunction()?.()"
      class="inline-flex items-center gap-3 px-5 font-semibold cursor-pointer duration-500"
    >
      <img src="images/icons/refresh.png" class="h-5 w-5" />
      Try Again
    </button>
  }
</div>
