.error-card-container {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.25rem;
    background: linear-gradient(to right, rgb(239 68 68), rgb(248 113 113));
  }
}

.error-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  background: linear-gradient(to bottom right, rgb(239 68 68 / 0.2), rgb(248 113 113 / 0.2));
  border-radius: 100%;
  animation: scalePulse 2s ease-in-out infinite;
}
